*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
/* @media(min-width:720px){

} */

html{
    font-size: 62,5%;
    font-family: 'Roboto', sans-serif;
}

main{
    min-height: 80vh;
}

/* Colors
#3A668C azul
#4B83A6 celeste oscuro
#9AC1D9 celeste claro
#30402C verde musgo
*/

/* 
font-family: 'Roboto', sans-serif;
 */

/* header */

.backgroundColor{
 background-color:#4B83A6;
}


.ul-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header li{
    list-style: none;
}


.nav-item a{
    color: whitesmoke;
}

.nav-link{
    color: whitesmoke;
   
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 5px;

}
.enlaces{
    font-size: 25px;
}


/* main */

h1{
    text-align: center;
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 60px;
}


.manifiesto{
    margin-top: 50px;
    text-align:justify;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

.manifiesto-texto{
    width: 80%;
}


h2{
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
}
.logo-wp{
    width: 100px;
    height: 100px;
    position: fixed;
    background-position: center center;
    background-size: contain;
    position: fixed;
    margin-left: 80%;
    bottom: 20px;
}
.img-wp{
    height: 100%;
    width: 100%;
}


/* footer */

footer{
    background-color: #4B83A6;
    color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 25px;
}

/* pagina proyectos */

.img-carousel{
    height: 100%;
}

/* sobre nosotros */

.card-equipo{
    display: flex;
    justify-content:space-around;
    margin-bottom: 100px;
}
.parrafo-nuestroEquipo{
    text-align: justify;
    font-size: 20px;
    background-color:#e1eef7;
    margin-top: 50px;
    line-height: 35px;
    border-radius: 30px;
    padding: 15px;
    
}
.card-align{
    text-align: justify;
}

/* clientes */

.card-clientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.card-cliente{
    margin: 10px;
    text-align: center;
}